.content{
    width: 100%;
    padding: 0 2rem;
    max-width: 1200px;
    margin: auto;
    gap: 2rem;

    display: flex;
    @media (max-width: 768px){
        flex-direction: column;
    }

    main{
        padding-bottom: 60px;
    }
}