.menu{
    background-color: #f5f5f5;
    min-width: 415px;
    height: 100vh;
    overflow-y: scroll;
    position: sticky;
    top: 0;
    padding: 2px 20px 50px 20px;
    @media (max-width: 768px){
        min-width: 100%;
        position: relative;
        height: auto;
    }
}